<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBjH6h1O_ZFBtVa2Cv91hhUlZq7jgTQxE</string>
	<key>GCM_SENDER_ID</key>
	<string>562471901898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.projectzoe.app</string>
	<key>PROJECT_ID</key>
	<string>project-zoe-7f87a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-zoe-7f87a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562471901898:ios:f81749f3fedd64e787f233</string>
</dict>
</plist>